#vincent-navbar{
  color: rgba(240, 95, 64, .7);
}
#vincent-navbar:hover{
  color: #f05f40;
  font-size: 20px;
}

#personalNavBarStyle a.personalNavBarItems{
  color: rgba(240, 95, 64, .5);
}
#personalNavBarStyle a.personalNavBarItems:hover{
  color: #f05f40;
  font-size: 15px;
}

#personalMainHeader p.personalOrangeColor{
  color: #f05f40;
  font-weight: 900;
}

.hidden{
  display: none;
}

#contact{
  display: flex;
}
#contact a:hover{
  text-decoration: none;
}

#contact div.contact-method-icons{
  margin-bottom: 20px;
}
#skills img {
  height: 57px;
  width: 57px;
}
.skill-box > h3{
  margin-bottom: 25px;
}
/*#personalRowPadding .row{
  padding-bottom: 15px;
}*/
